body {
  background: black;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

a :hover {
  color: blueviolet;
}

i {
  color: white;
  font-size: large;
}

.website {
  padding: 10px;
}

.container {
  display: block;
  margin: 0 auto;
}

.group-name {
  display: grid;
}

.footer {
  text-align: center;
}
