body {
  background: black;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

.container {
  display: block;
  margin: 0 auto;
}

.group-name {
  justify-content: space-evenly;
}
