:root {
  --solar-color: #ff3c8b;
  --moon-color: #c6252a;
  --wheein-color: #195890;
  --hwasa-color: #058555;
}

body {
  background: black;
}

h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

p {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
}

i {
  color: white;
  font-size: large;
  border: 2px ridge #343434;
  padding: 5px;
  background: #343434;
  border-radius: 4px;
}

i:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.5);
  transition: all 200ms ease-in-out;
}

hr {
  color: var(--solar-color);
}

.navbar-brand {
  color: var(--solar-color);
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  color: var(--solar-color);
  text-transform: uppercase;
  font-weight: bolder;
}

.main-picture {
  max-width: 100%;
}

.main-hero {
  color: var(--solar-color);
  position: relative;
  bottom: -50px;
  font-size: 100px;
  text-transform: uppercase;
}

.website {
  padding: 10px;
}

.fa-brands {
  color: var(--solar-color);
}

.second-hero {
  display: block;
  width: 100%;
}

.img-change:hover {
  transform: scale(1.2);
  transition: all 200ms ease-in-out;
}

.personal-website {
  font-size: 100px;
  text-transform: uppercase;
}

.solar-pink {
  background: var(--solar-color);
}

.solar {
  color: var(--solar-color);
}

.moon-red {
  background: var(--moon-color);
}

.moon {
  color: var(--moon-color);
}

.wheein-blue {
  background: var(--wheein-color);
}

.wheein {
  color: var(--wheein-color);
}

.hwasa-green {
  background: var(--hwasa-color);
}

.hwasa {
  color: var(--hwasa-color);
}

.contact {
  text-align: center;
  padding: 40px;
}

.footer {
  text-align: center;
  background: black;
  line-height: 3;
}

@media (max-width: 575px) {
  p {
    text-align: center;
  }

  h2 {
    text-align: left;
  }

  .main-hero {
    font-size: 40px;
    margin-bottom: 60px;
  }

  .main-picture {
    margin-bottom: 0;
  }

  .personal-website {
    font-size: 50px;
  }

  .img-change:hover {
    transform: scale(1);
  }

  .contact {
    text-align: left;
  }
}
